/* button */

/* default button style */
#button {
    background: #4b8dff;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

/* input */
#input{
    background-color: #f7f7f7;
    outline-style:none;
    border: 1px solid #ccc;
    padding:11px;
    width: 160px;
    font-size: 18px;
    font-family: 等线;
}

/* option */
option{
    font-size: 18px;
    font-family: 等线;
}

/* select */
select{
    padding: 11px;
    width: 160px;
    font-size: 18px;
    font-family: 等线;
    background-color: #f7f7f7
}